
{% load static %}

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h3 class="page-title text-center"> {{ title }}</h3>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><h5 style="color:blue" href="#">Utilisateur : [ {{ user }} ]</h5></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>